* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}
  
main {
    background-color: #FFFFFF;
    margin: 50px 550px;
    border-radius: 10px;
}
  
h1 {
    color: #1B1B1B;
    font-size: 28px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
h2 {
    text-align: center;
    color: #1B1B1B;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  
}
  
h3 {
    color: #1B1B1B;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-left: 10px;
}
  
.pizza {
    text-align: right;
    font-size: 12px;
    color: #8f8f8f;
}
  
figcaption {
    margin-bottom: 15px;
}
  
    .pizza img {
    width: 100%;
    height: 10cm;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 500px;
}
  
ul, ol {
    font-size: 16px;
    line-height: 26px;
    color: #39393A;
    margin-left: 30px;
    margin-bottom: 15px
}
  
p {
    font-size: 16px;
    line-height: 26px;
    color: #39393A;
    margin-left: 30px;
    margin-top: 10px;
}
  
footer {
    color: #8F8F8F;
    font-size: 12px;
    text-align: center;
  
}
  
  
  